# Data cleaning

## 1. applications_record.csv

In [88]:
import pandas as pd

applications: pd.DataFrame = pd.read_csv('data/raw/application_record.csv')
applications.info()

<class 'pandas.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  str
 2   FLAG_OWN_CAR         438557 non-null  str
 3   FLAG_OWN_REALTY      438557 non-null  str
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  str
 7   NAME_EDUCATION_TYPE  438557 non-null  str
 8   NAME_FAMILY_STATUS   438557 non-null  str
 9   NAME_HOUSING_TYPE    438557 non-null  str
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  str
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), str(8)
memory usage: 60.2 MB

### 1.1. Treat Duplicates

In [89]:
applications.duplicated(subset=['ID']).sum()

np.int64(47)

In [90]:
applications = applications.drop_duplicates(subset=['ID'])
applications.info()

<class 'pandas.DataFrame'>
Index: 438510 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438510 non-null  int64
 1   CODE_GENDER          438510 non-null  str
 2   FLAG_OWN_CAR         438510 non-null  str
 3   FLAG_OWN_REALTY      438510 non-null  str
 4   CNT_CHILDREN         438510 non-null  int64
 5   AMT_INCOME_TOTAL     438510 non-null  float64
 6   NAME_INCOME_TYPE     438510 non-null  str
 7   NAME_EDUCATION_TYPE  438510 non-null  str
 8   NAME_FAMILY_STATUS   438510 non-null  str
 9   NAME_HOUSING_TYPE    438510 non-null  str
 10  DAYS_BIRTH           438510 non-null  int64
 11  DAYS_EMPLOYED        438510 non-null  int64
 12  FLAG_MOBIL           438510 non-null  int64
 13  FLAG_WORK_PHONE      438510 non-null  int64
 14  FLAG_PHONE           438510 non-null  int64
 15  FLAG_EMAIL           438510 non-null  int64
 16  OCCUPATION_TYPE      304317 non-null  str
 17  CNT_FAM_MEMBERS      438510 non-null  float64
dtypes: float64(2), int64(8), str(8)
memory usage: 63.6 MB

In [91]:
# Verify no duplicates remain
applications.duplicated(subset=['ID']).sum()

np.int64(0)

In [92]:
# Determine if there are any duplicate applications based in all columns except ID
cols = list[str](applications.columns)
applications.duplicated(subset=cols[1:17]).sum()

np.int64(348500)

### 1.2. Treat NA values

In [93]:
applications.isna().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134193
CNT_FAM_MEMBERS             0
dtype: int64

In [94]:
applications['OCCUPATION_TYPE'] = applications['OCCUPATION_TYPE'].fillna('Undefined')
applications.isna().sum()

ID                     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
OCCUPATION_TYPE        0
CNT_FAM_MEMBERS        0
dtype: int64

### 1.3. Treat Flag columns

In [95]:
print(applications['FLAG_OWN_CAR'].unique().tolist()) # Yes, No -> must convert to 1, 0
print(applications['FLAG_OWN_REALTY'].unique().tolist()) # Yes, No -> must convert to 1, 0
print(applications['FLAG_EMAIL'].unique().tolist()) # 0, 1
print(applications['FLAG_MOBIL'].unique().tolist()) # All users have mobile phones -> can drop this column
print(applications['FLAG_WORK_PHONE'].unique().tolist()) # 0, 1
print(applications['FLAG_PHONE'].unique().tolist()) # 0, 1

['Y', 'N']
['Y', 'N']
[0, 1]
[1]
[1, 0]
[0, 1]

In [96]:
applications['FLAG_OWN_REALTY'] = applications['FLAG_OWN_REALTY'].map(
    lambda x: {'Y': 1, 'N': 0}[x]
)
applications['FLAG_OWN_CAR'] = applications['FLAG_OWN_CAR'].map(
    lambda x: {'Y': 1, 'N': 0}[x]
)
applications = applications.drop(columns=['FLAG_MOBIL'])
applications.info()

<class 'pandas.DataFrame'>
Index: 438510 entries, 0 to 438556
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438510 non-null  int64
 1   CODE_GENDER          438510 non-null  str
 2   FLAG_OWN_CAR         438510 non-null  int64
 3   FLAG_OWN_REALTY      438510 non-null  int64
 4   CNT_CHILDREN         438510 non-null  int64
 5   AMT_INCOME_TOTAL     438510 non-null  float64
 6   NAME_INCOME_TYPE     438510 non-null  str
 7   NAME_EDUCATION_TYPE  438510 non-null  str
 8   NAME_FAMILY_STATUS   438510 non-null  str
 9   NAME_HOUSING_TYPE    438510 non-null  str
 10  DAYS_BIRTH           438510 non-null  int64
 11  DAYS_EMPLOYED        438510 non-null  int64
 12  FLAG_WORK_PHONE      438510 non-null  int64
 13  FLAG_PHONE           438510 non-null  int64
 14  FLAG_EMAIL           438510 non-null  int64
 15  OCCUPATION_TYPE      438510 non-null  str
 16  CNT_FAM_MEMBERS      438510 non-null  float64
dtypes: float64(2), int64(9), str(6)
memory usage: 60.2 MB

### 1.4. Rename columns

In [97]:
rename_cols = {
    'ID': 'id',
    'CODE_GENDER': 'gender',
    'FLAG_OWN_CAR': 'own_car',
    'FLAG_OWN_REALTY': 'own_realty',
    'CNT_CHILDREN': 'num_children',
    'AMT_INCOME_TOTAL': 'income',
    'NAME_INCOME_TYPE': 'income_type',
    'NAME_EDUCATION_TYPE': 'education_type',
    'NAME_FAMILY_STATUS': 'family_status',
    'NAME_HOUSING_TYPE': 'housing_type',
    'DAYS_BIRTH': 'days_birth',
    'DAYS_EMPLOYED': 'days_employed',
    'FLAG_WORK_PHONE': 'work_phone',
    'FLAG_PHONE': 'phone',
    'FLAG_EMAIL': 'email',
    'OCCUPATION_TYPE': 'occupation_type',
    'CNT_FAM_MEMBERS': 'fam_members',
}

applications = applications.rename(columns=rename_cols)
applications.info()

<class 'pandas.DataFrame'>
Index: 438510 entries, 0 to 438556
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               438510 non-null  int64
 1   gender           438510 non-null  str
 2   own_car          438510 non-null  int64
 3   own_realty       438510 non-null  int64
 4   num_children     438510 non-null  int64
 5   income           438510 non-null  float64
 6   income_type      438510 non-null  str
 7   education_type   438510 non-null  str
 8   family_status    438510 non-null  str
 9   housing_type     438510 non-null  str
 10  days_birth       438510 non-null  int64
 11  days_employed    438510 non-null  int64
 12  work_phone       438510 non-null  int64
 13  phone            438510 non-null  int64
 14  email            438510 non-null  int64
 15  occupation_type  438510 non-null  str
 16  fam_members      438510 non-null  float64
dtypes: float64(2), int64(9), str(6)
memory usage: 60.2 MB

### 1.5. Treat Categorical columns

In [98]:
print(applications['gender'].unique().tolist())
print(applications['income_type'].unique().tolist())
print(applications['education_type'].unique().tolist())
print(applications['family_status'].unique().tolist())
print(applications['housing_type'].unique().tolist())
print(applications['occupation_type'].unique().tolist())

['M', 'F']
['Working', 'Commercial associate', 'Pensioner', 'State servant', 'Student']
['Higher education', 'Secondary / secondary special', 'Incomplete higher', 'Lower secondary', 'Academic degree']
['Civil marriage', 'Married', 'Single / not married', 'Separated', 'Widow']
['Rented apartment', 'House / apartment', 'Municipal apartment', 'With parents', 'Co-op apartment', 'Office apartment']
['Undefined', 'Security staff', 'Sales staff', 'Accountants', 'Laborers', 'Managers', 'Drivers', 'Core staff', 'High skill tech staff', 'Cleaning staff', 'Private service staff', 'Cooking staff', 'Low-skill Laborers', 'Medicine staff', 'Secretaries', 'Waiters/barmen staff', 'HR staff', 'Realty agents', 'IT staff']

In [99]:
applications['education_type'] = applications['education_type'].map(
    lambda x: 'Secondary' if x == 'Secondary / secondary special' else x
)
applications['family_status'] = applications['family_status'].map(
    lambda x: 'Single' if x == 'Single / not married' else x
)
applications['housing_type'] = applications['housing_type'].map(
    lambda x: 'Hose/Apartment' if x == 'House / apartment' else x
)

In [100]:
categorical_columns = [
    'gender',
    'income_type',
    'education_type',
    'family_status',
    'housing_type',
    'occupation_type',
]
for col in categorical_columns:
    applications[col] = applications[col].map(lambda x: x.lower().replace(' ', '_'))

In [101]:
applications_dummies = pd.get_dummies(
    data=applications, 
    columns=categorical_columns,
    drop_first=True,
    dtype=int,
)
applications_dummies.info()

<class 'pandas.DataFrame'>
Index: 438510 entries, 0 to 438556
Data columns (total 47 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     438510 non-null  int64
 1   own_car                                438510 non-null  int64
 2   own_realty                             438510 non-null  int64
 3   num_children                           438510 non-null  int64
 4   income                                 438510 non-null  float64
 5   days_birth                             438510 non-null  int64
 6   days_employed                          438510 non-null  int64
 7   work_phone                             438510 non-null  int64
 8   phone                                  438510 non-null  int64
 9   email                                  438510 non-null  int64
 10  fam_members                            438510 non-null  float64
 11  gender_m                               438510 non-null  int64
 12  income_type_pensioner                  438510 non-null  int64
 13  income_type_state_servant              438510 non-null  int64
 14  income_type_student                    438510 non-null  int64
 15  income_type_working                    438510 non-null  int64
 16  education_type_higher_education        438510 non-null  int64
 17  education_type_incomplete_higher       438510 non-null  int64
 18  education_type_lower_secondary         438510 non-null  int64
 19  education_type_secondary               438510 non-null  int64
 20  family_status_married                  438510 non-null  int64
 21  family_status_separated                438510 non-null  int64
 22  family_status_single                   438510 non-null  int64
 23  family_status_widow                    438510 non-null  int64
 24  housing_type_hose/apartment            438510 non-null  int64
 25  housing_type_municipal_apartment       438510 non-null  int64
 26  housing_type_office_apartment          438510 non-null  int64
 27  housing_type_rented_apartment          438510 non-null  int64
 28  housing_type_with_parents              438510 non-null  int64
 29  occupation_type_cleaning_staff         438510 non-null  int64
 30  occupation_type_cooking_staff          438510 non-null  int64
 31  occupation_type_core_staff             438510 non-null  int64
 32  occupation_type_drivers                438510 non-null  int64
 33  occupation_type_high_skill_tech_staff  438510 non-null  int64
 34  occupation_type_hr_staff               438510 non-null  int64
 35  occupation_type_it_staff               438510 non-null  int64
 36  occupation_type_laborers               438510 non-null  int64
 37  occupation_type_low-skill_laborers     438510 non-null  int64
 38  occupation_type_managers               438510 non-null  int64
 39  occupation_type_medicine_staff         438510 non-null  int64
 40  occupation_type_private_service_staff  438510 non-null  int64
 41  occupation_type_realty_agents          438510 non-null  int64
 42  occupation_type_sales_staff            438510 non-null  int64
 43  occupation_type_secretaries            438510 non-null  int64
 44  occupation_type_security_staff         438510 non-null  int64
 45  occupation_type_undefined              438510 non-null  int64
 46  occupation_type_waiters/barmen_staff   438510 non-null  int64
dtypes: float64(2), int64(45)
memory usage: 160.6 MB

In [102]:
applications_dummies.head(10)

,id,own_car,own_realty,num_children,income,days_birth,days_employed,work_phone,phone,email,...,occupation_type_low-skill_laborers,occupation_type_managers,occupation_type_medicine_staff,occupation_type_private_service_staff,occupation_type_realty_agents,occupation_type_sales_staff,occupation_type_secretaries,occupation_type_security_staff,occupation_type_undefined,occupation_type_waiters/barmen_staff
0,5008804,1,1,0,427500.0,-12005,-4542,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,5008805,1,1,0,427500.0,-12005,-4542,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,5008806,1,1,0,112500.0,-21474,-1134,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,5008808,0,1,0,270000.0,-19110,-3051,0,1,1,...,0,0,0,0,0,1,0,0,0,0
4,5008809,0,1,0,270000.0,-19110,-3051,0,1,1,...,0,0,0,0,0,1,0,0,0,0
5,5008810,0,1,0,270000.0,-19110,-3051,0,1,1,...,0,0,0,0,0,1,0,0,0,0
6,5008811,0,1,0,270000.0,-19110,-3051,0,1,1,...,0,0,0,0,0,1,0,0,0,0
7,5008812,0,1,0,283500.0,-22464,365243,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,5008813,0,1,0,283500.0,-22464,365243,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,5008814,0,1,0,283500.0,-22464,365243,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### 1.6. Standardize columns

In [103]:
from sklearn.preprocessing import StandardScaler

non_categorical_cols = [
    'income',
    'days_birth',
    'days_employed',
]

scaler = StandardScaler()
applications_dummies[non_categorical_cols] = scaler.fit_transform(
    applications_dummies[non_categorical_cols]
)
applications_dummies.head(10)

,id,own_car,own_realty,num_children,income,days_birth,days_employed,work_phone,phone,email,...,occupation_type_low-skill_laborers,occupation_type_managers,occupation_type_medicine_staff,occupation_type_private_service_staff,occupation_type_realty_agents,occupation_type_sales_staff,occupation_type_secretaries,occupation_type_security_staff,occupation_type_undefined,occupation_type_waiters/barmen_staff
0,5008804,1,1,0,2.179820,0.954125,-0.469181,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,5008805,1,1,0,2.179820,0.954125,-0.469181,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,5008806,1,1,0,-0.681497,-1.308474,-0.444622,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,5008808,0,1,0,0.749162,-0.743601,-0.458436,0,1,1,...,0,0,0,0,0,1,0,0,0,0
4,5008809,0,1,0,0.749162,-0.743601,-0.458436,0,1,1,...,0,0,0,0,0,1,0,0,0,0
5,5008810,0,1,0,0.749162,-0.743601,-0.458436,0,1,1,...,0,0,0,0,0,1,0,0,0,0
6,5008811,0,1,0,0.749162,-0.743601,-0.458436,0,1,1,...,0,0,0,0,0,1,0,0,0,0
7,5008812,0,1,0,0.871790,-1.545032,2.195554,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,5008813,0,1,0,0.871790,-1.545032,2.195554,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,5008814,0,1,0,0.871790,-1.545032,2.195554,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### 1.7. Save cleaned data

In [104]:
applications.to_csv('data/clean/applications.csv', index=False)

## 2. credit_record.csv

In [105]:
credit_record: pd.DataFrame = pd.read_csv('data/raw/credit_record.csv')
credit_record.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ID              1048575 non-null  int64
 1   MONTHS_BALANCE  1048575 non-null  int64
 2   STATUS          1048575 non-null  str
dtypes: int64(2), str(1)
memory usage: 24.0 MB

## 2.1. Treat Duplicates

In [106]:
credit_record.duplicated().sum()

np.int64(0)

No duplicates found.

## 2.2. Definition of 'Bad' and 'Good' clients

### 2.2.1. Exploring the information

In [107]:
credit_record['STATUS'].unique().tolist()

['X', '0', 'C', '1', '2', '3', '4', '5']

In [80]:
status_score = {
    'X' : 0,
    'C' : 0,
    '0' : 1,
    '1' : 5,    
    '2' : 15,
    '3' : 50,
    '4' : 50,
    '5' : 50
}

In [108]:
def weighted_risk_index(group) -> float:
    months = len(group)
    last_month = group['MONTHS_BALANCE'].min()

    group['status_score'] = group['STATUS'].map(lambda x: status_score[x])
    group['month_weight'] = 0.5 + ((group['MONTHS_BALANCE'] - last_month) / (-1 * last_month))

    return (group['status_score'] * group['month_weight']).sum() / months

test = credit_record.groupby('ID').apply(weighted_risk_index).reset_index()
test.columns = ['ID', 'WRI']
test.head()

        ID       WRI
0  5001711  0.625000
1  5001712  0.394737
2  5001713  0.000000
3  5001714  0.000000
4  5001715  0.000000

In [128]:
q95 = test['WRI'].quantile(0.95)
test['bad_client'] = test['WRI'].apply(lambda x: 1 if x >= q95 else 0)
test.head()

        id       WRI  bad_client
0  5001711  0.625000           0
1  5001712  0.394737           0
2  5001713  0.000000           0
3  5001714  0.000000           0
4  5001715  0.000000           0

In [129]:
len(test[test['bad_client'] == 1])

2300

In [130]:
test.info()

<class 'pandas.DataFrame'>
RangeIndex: 45985 entries, 0 to 45984
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          45985 non-null  int64
 1   WRI         45985 non-null  float64
 2   bad_client  45985 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 1.1 MB

In [131]:
test.rename(columns={'ID': 'id'}, inplace=True)

In [132]:
applications_final = applications_dummies.merge(
    test[['id', 'bad_client']],
    on='id',
    how='left'
)
applications_final.info()

<class 'pandas.DataFrame'>
RangeIndex: 438510 entries, 0 to 438509
Data columns (total 48 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     438510 non-null  int64
 1   own_car                                438510 non-null  int64
 2   own_realty                             438510 non-null  int64
 3   num_children                           438510 non-null  int64
 4   income                                 438510 non-null  float64
 5   days_birth                             438510 non-null  float64
 6   days_employed                          438510 non-null  float64
 7   work_phone                             438510 non-null  int64
 8   phone                                  438510 non-null  int64
 9   email                                  438510 non-null  int64
 10  fam_members                            438510 non-null  float64
 11  gender_m                               438510 non-null  int64
 12  income_type_pensioner                  438510 non-null  int64
 13  income_type_state_servant              438510 non-null  int64
 14  income_type_student                    438510 non-null  int64
 15  income_type_working                    438510 non-null  int64
 16  education_type_higher_education        438510 non-null  int64
 17  education_type_incomplete_higher       438510 non-null  int64
 18  education_type_lower_secondary         438510 non-null  int64
 19  education_type_secondary               438510 non-null  int64
 20  family_status_married                  438510 non-null  int64
 21  family_status_separated                438510 non-null  int64
 22  family_status_single                   438510 non-null  int64
 23  family_status_widow                    438510 non-null  int64
 24  housing_type_hose/apartment            438510 non-null  int64
 25  housing_type_municipal_apartment       438510 non-null  int64
 26  housing_type_office_apartment          438510 non-null  int64
 27  housing_type_rented_apartment          438510 non-null  int64
 28  housing_type_with_parents              438510 non-null  int64
 29  occupation_type_cleaning_staff         438510 non-null  int64
 30  occupation_type_cooking_staff          438510 non-null  int64
 31  occupation_type_core_staff             438510 non-null  int64
 32  occupation_type_drivers                438510 non-null  int64
 33  occupation_type_high_skill_tech_staff  438510 non-null  int64
 34  occupation_type_hr_staff               438510 non-null  int64
 35  occupation_type_it_staff               438510 non-null  int64
 36  occupation_type_laborers               438510 non-null  int64
 37  occupation_type_low-skill_laborers     438510 non-null  int64
 38  occupation_type_managers               438510 non-null  int64
 39  occupation_type_medicine_staff         438510 non-null  int64
 40  occupation_type_private_service_staff  438510 non-null  int64
 41  occupation_type_realty_agents          438510 non-null  int64
 42  occupation_type_sales_staff            438510 non-null  int64
 43  occupation_type_secretaries            438510 non-null  int64
 44  occupation_type_security_staff         438510 non-null  int64
 45  occupation_type_undefined              438510 non-null  int64
 46  occupation_type_waiters/barmen_staff   438510 non-null  int64
 47  bad_client                             36457 non-null   float64
dtypes: float64(5), int64(43)
memory usage: 160.6 MB

In [133]:
applications_final_notnull = applications_final.dropna(subset=['bad_client'])
applications_final_notnull.info()

<class 'pandas.DataFrame'>
Index: 36457 entries, 0 to 434765
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     36457 non-null  int64
 1   own_car                                36457 non-null  int64
 2   own_realty                             36457 non-null  int64
 3   num_children                           36457 non-null  int64
 4   income                                 36457 non-null  float64
 5   days_birth                             36457 non-null  float64
 6   days_employed                          36457 non-null  float64
 7   work_phone                             36457 non-null  int64
 8   phone                                  36457 non-null  int64
 9   email                                  36457 non-null  int64
 10  fam_members                            36457 non-null  float64
 11  gender_m                               36457 non-null  int64
 12  income_type_pensioner                  36457 non-null  int64
 13  income_type_state_servant              36457 non-null  int64
 14  income_type_student                    36457 non-null  int64
 15  income_type_working                    36457 non-null  int64
 16  education_type_higher_education        36457 non-null  int64
 17  education_type_incomplete_higher       36457 non-null  int64
 18  education_type_lower_secondary         36457 non-null  int64
 19  education_type_secondary               36457 non-null  int64
 20  family_status_married                  36457 non-null  int64
 21  family_status_separated                36457 non-null  int64
 22  family_status_single                   36457 non-null  int64
 23  family_status_widow                    36457 non-null  int64
 24  housing_type_hose/apartment            36457 non-null  int64
 25  housing_type_municipal_apartment       36457 non-null  int64
 26  housing_type_office_apartment          36457 non-null  int64
 27  housing_type_rented_apartment          36457 non-null  int64
 28  housing_type_with_parents              36457 non-null  int64
 29  occupation_type_cleaning_staff         36457 non-null  int64
 30  occupation_type_cooking_staff          36457 non-null  int64
 31  occupation_type_core_staff             36457 non-null  int64
 32  occupation_type_drivers                36457 non-null  int64
 33  occupation_type_high_skill_tech_staff  36457 non-null  int64
 34  occupation_type_hr_staff               36457 non-null  int64
 35  occupation_type_it_staff               36457 non-null  int64
 36  occupation_type_laborers               36457 non-null  int64
 37  occupation_type_low-skill_laborers     36457 non-null  int64
 38  occupation_type_managers               36457 non-null  int64
 39  occupation_type_medicine_staff         36457 non-null  int64
 40  occupation_type_private_service_staff  36457 non-null  int64
 41  occupation_type_realty_agents          36457 non-null  int64
 42  occupation_type_sales_staff            36457 non-null  int64
 43  occupation_type_secretaries            36457 non-null  int64
 44  occupation_type_security_staff         36457 non-null  int64
 45  occupation_type_undefined              36457 non-null  int64
 46  occupation_type_waiters/barmen_staff   36457 non-null  int64
 47  bad_client                             36457 non-null  float64
dtypes: float64(5), int64(43)
memory usage: 13.6 MB

In [134]:
cols = list[str](applications_final_notnull.columns)
cols.remove('id')
print(cols)
applications_final_notnull.duplicated(subset=cols).sum()

['own_car', 'own_realty', 'num_children', 'income', 'days_birth', 'days_employed', 'work_phone', 'phone', 'email', 'fam_members', 'gender_m', 'income_type_pensioner', 'income_type_state_servant', 'income_type_student', 'income_type_working', 'education_type_higher_education', 'education_type_incomplete_higher', 'education_type_lower_secondary', 'education_type_secondary', 'family_status_married', 'family_status_separated', 'family_status_single', 'family_status_widow', 'housing_type_hose/apartment', 'housing_type_municipal_apartment', 'housing_type_office_apartment', 'housing_type_rented_apartment', 'housing_type_with_parents', 'occupation_type_cleaning_staff', 'occupation_type_cooking_staff', 'occupation_type_core_staff', 'occupation_type_drivers', 'occupation_type_high_skill_tech_staff', 'occupation_type_hr_staff', 'occupation_type_it_staff', 'occupation_type_laborers', 'occupation_type_low-skill_laborers', 'occupation_type_managers', 'occupation_type_medicine_staff', 'occupation_type_private_service_staff', 'occupation_type_realty_agents', 'occupation_type_sales_staff', 'occupation_type_secretaries', 'occupation_type_security_staff', 'occupation_type_undefined', 'occupation_type_waiters/barmen_staff', 'bad_client']

np.int64(25741)

In [135]:
applications_final_notnull = applications_final_notnull.drop_duplicates(subset=cols)
applications_final_notnull.info()

<class 'pandas.DataFrame'>
Index: 10716 entries, 0 to 434765
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     10716 non-null  int64
 1   own_car                                10716 non-null  int64
 2   own_realty                             10716 non-null  int64
 3   num_children                           10716 non-null  int64
 4   income                                 10716 non-null  float64
 5   days_birth                             10716 non-null  float64
 6   days_employed                          10716 non-null  float64
 7   work_phone                             10716 non-null  int64
 8   phone                                  10716 non-null  int64
 9   email                                  10716 non-null  int64
 10  fam_members                            10716 non-null  float64
 11  gender_m                               10716 non-null  int64
 12  income_type_pensioner                  10716 non-null  int64
 13  income_type_state_servant              10716 non-null  int64
 14  income_type_student                    10716 non-null  int64
 15  income_type_working                    10716 non-null  int64
 16  education_type_higher_education        10716 non-null  int64
 17  education_type_incomplete_higher       10716 non-null  int64
 18  education_type_lower_secondary         10716 non-null  int64
 19  education_type_secondary               10716 non-null  int64
 20  family_status_married                  10716 non-null  int64
 21  family_status_separated                10716 non-null  int64
 22  family_status_single                   10716 non-null  int64
 23  family_status_widow                    10716 non-null  int64
 24  housing_type_hose/apartment            10716 non-null  int64
 25  housing_type_municipal_apartment       10716 non-null  int64
 26  housing_type_office_apartment          10716 non-null  int64
 27  housing_type_rented_apartment          10716 non-null  int64
 28  housing_type_with_parents              10716 non-null  int64
 29  occupation_type_cleaning_staff         10716 non-null  int64
 30  occupation_type_cooking_staff          10716 non-null  int64
 31  occupation_type_core_staff             10716 non-null  int64
 32  occupation_type_drivers                10716 non-null  int64
 33  occupation_type_high_skill_tech_staff  10716 non-null  int64
 34  occupation_type_hr_staff               10716 non-null  int64
 35  occupation_type_it_staff               10716 non-null  int64
 36  occupation_type_laborers               10716 non-null  int64
 37  occupation_type_low-skill_laborers     10716 non-null  int64
 38  occupation_type_managers               10716 non-null  int64
 39  occupation_type_medicine_staff         10716 non-null  int64
 40  occupation_type_private_service_staff  10716 non-null  int64
 41  occupation_type_realty_agents          10716 non-null  int64
 42  occupation_type_sales_staff            10716 non-null  int64
 43  occupation_type_secretaries            10716 non-null  int64
 44  occupation_type_security_staff         10716 non-null  int64
 45  occupation_type_undefined              10716 non-null  int64
 46  occupation_type_waiters/barmen_staff   10716 non-null  int64
 47  bad_client                             10716 non-null  float64
dtypes: float64(5), int64(43)
memory usage: 4.0 MB

In [136]:
applications_final_notnull['bad_client'].value_counts()

bad_client
0.0    9405
1.0    1311
Name: count, dtype: int64

In [138]:
applications_final_notnull.to_csv('data/clean/final_data.csv', index=False)